*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{

    height: 100vh;
}
.navbar{

    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.menu p{
    border: 1px solid black;
    border-radius:15px ;
    padding: 7px 14px;
}

.head{
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    
}
#login{
    border: 1px solid black;
    border-radius:20px ;
    padding: 8px;
    
}
#signup{
    
    border-radius:20px ;
    padding: 8px;
    background-color: red;
    color: white;
    
}
.body{
    
    height: 70vh;
}

.footer{
    
    height: 15vh;
}
.body H1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-weight: 400;
}
.footer p{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 15vh;
    padding: 20px;
    
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    width: 25%;
    height: 40vh;
    border-radius: 15px;
}


#m1{
    transform: translate(-50%,-50%)rotate(-50deg)
}
#m2{
    transform: translate(-50%,-50%)rotate(-40deg)
}

#m3{
    transform: translate(-50%,-50%)rotate(-30deg)
}
#m4{
    transform: translate(-50%,-50%)rotate(-20deg)
}
#m{
    transform: translate(-50%,-50%)rotate(-10deg)
}
#m6{
    transform: translate(-50%,-50%)rotate(-0deg)
}